<header>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a style="font-family: 'Potta One', cursive;" class="navbar-brand" href="/">Exchange Rates</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/api/rates">All Rate in JSON Format</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Currencies
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li class="nav-item">
                    <a class="nav-link" href="/api/rates/Get_USD">USD Rate</a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li class="nav-item">
                    <a class="nav-link" href="/api/rates/GET_GBP">GBP Rate</a>
                  </li>
                  <li><hr class="dropdown-divider"></li>  
                  <li class="nav-item">
                    <a class="nav-link" href="/api/rates/GET_EUR">EUR Rate</a>
                  </li>
                  <li><hr class="dropdown-divider"></li> 
                  <li class="nav-item">
                    <a class="nav-link" href="/api/rates/GET_CAD">CAD Rate</a>
                  </li>
                  <li><hr class="dropdown-divider"></li> 
                  <li class="nav-item">
                    <a class="nav-link" href="/api/rates/GET_BGN">BGN Rate</a>
                  </li>
                  <li><hr class="dropdown-divider"></li>  
                  <li class="nav-item">
                    <a class="nav-link" href="/api/rates/GET_CZK">CZK Rate</a>
                  </li>
                  <li><hr class="dropdown-divider"></li> 
                  <li class="nav-item">
                    <a class="nav-link" href="/api/rates/GET_PLN">PLN Rate</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>
