<!-- header -->
<%- include('./partials/head.ejs') %>
<body>
    <!-- nav -->
    <%- include('./partials/nav.ejs') %>
</body>
    <h3 class="text-center">Ooops 404 page not found!</h3>
  <!-- footbarbar with ejs include synthax -->
<%- include('./partials/footer.ejs') %>
</html>