
<!-- header -->
<%- include('./partials/head.ejs') %>
<body>
    <!-- nav -->
    <%- include('./partials/nav.ejs') %>
</body>
  <!-- footbarbar with ejs include synthax -->
<%- include('./partials/footer.ejs') %>
</html>